@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Product Type</th>
      <th scope="col">Typical Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nintendo Games</td>
      <td>$49.99</td>
    </tr>
    <tr>
      <td>Arcade</td>
      <td>$10/hr</td>
    </tr>
  </tbody>
</table>

<h2>About GameShop</h2> 

<p>Lorem ipsum dolor sit amet,
    consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Sed cras ornare arcu dui vivamus arcu.
    Metus dictum at tempor commodo ullamcorper a lacus.
    Sodales ut eu sem integer vitae justo.
    Facilisis gravida neque convallis a cras semper auctor neque vitae.
    Duis ut diam quam nulla porttitor massa id neque. Dignissim sodales ut eu sem integer vitae justo eget magna.
    Quis vel eros donec ac odio tempor orci.
</p>